Django>=4.2,<5.0
django-cors-headers>=4.0
django-filter>=23.0
django-import-export>=3.0
djangorestframework>=3.14
requests>=2.28
gunicorn>=20.0
psycopg[binary]>=3.0
pypinyin>=0.50
python-dotenv>=1.0
tablib>=3.0
Pillow>=9.0
huey>=2.0
jieba>=0.42
qiniu>=7.0
authlib>=1.0
packaging>=20.0
coverage>=7.0
redis>=5.0
uvicorn[standard]>=0.30 